USE [SGEODB]
GO
/****** Object:  Table [dbo].[VO_RequisitosVerificacion]    Script Date: 04/03/2017 16:29:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VO_RequisitosVerificacion](
	[idRequisito] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](500) NOT NULL,
	[descripcion] [varchar](500) NULL,
	[obligatorio] [bit] NOT NULL,
	[fecha_creacion] [date] NULL,
	[fecha_modificacion] [date] NULL,
	[estado] [char](2) NULL,
 CONSTRAINT [PK_VO_RequisitosVerificacion] PRIMARY KEY CLUSTERED 
(
	[idRequisito] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[VO_RequisitosVerificacion] ON
INSERT [dbo].[VO_RequisitosVerificacion] ([idRequisito], [nombre], [descripcion], [obligatorio], [fecha_creacion], [fecha_modificacion], [estado]) VALUES (1, N'Oficio SAT', N'', 0, CAST(0x6F3C0B00 AS Date), CAST(0x933C0B00 AS Date), N'A ')
INSERT [dbo].[VO_RequisitosVerificacion] ([idRequisito], [nombre], [descripcion], [obligatorio], [fecha_creacion], [fecha_modificacion], [estado]) VALUES (2, N'Factura de Importacion', N'Factura de Importacion', 1, CAST(0x833C0B00 AS Date), CAST(0x933C0B00 AS Date), N'A ')
INSERT [dbo].[VO_RequisitosVerificacion] ([idRequisito], [nombre], [descripcion], [obligatorio], [fecha_creacion], [fecha_modificacion], [estado]) VALUES (3, N'Requisto Verificacion Prueba', N'esta es una prueba, mas otra descripcion', 0, CAST(0x843C0B00 AS Date), CAST(0x843C0B00 AS Date), N'B ')
SET IDENTITY_INSERT [dbo].[VO_RequisitosVerificacion] OFF
/****** Object:  Table [dbo].[S_SolicitudVerificacion]    Script Date: 04/03/2017 16:29:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[S_SolicitudVerificacion](
	[idSolicitudVerificacion] [int] NOT NULL,
	[idUsuario] [int] NOT NULL,
	[nombres] [varchar](300) NOT NULL,
	[apellidos] [varchar](300) NOT NULL,
	[direccion] [varchar](500) NOT NULL,
	[idDepartamento] [int] NOT NULL,
	[departamento] [varchar](500) NOT NULL,
	[correo] [varchar](150) NOT NULL,
	[telefono] [varchar](50) NOT NULL,
	[nombreRazonImpo] [varchar](500) NOT NULL,
	[direccionImpo] [varchar](500) NULL,
	[correoImpo] [varchar](150) NOT NULL,
	[idDeptoImpo] [int] NULL,
	[deptoImpo] [varchar](500) NULL,
	[NITImpo] [varchar](50) NULL,
	[telefonoImpo] [varchar](50) NULL,
	[nombreRazonExpo] [varchar](500) NULL,
	[direccionExpo] [varchar](500) NULL,
	[correoExpo] [varchar](150) NULL,
	[idDeptoExpo] [int] NULL,
	[deptoExpo] [varchar](500) NULL,
	[NITExpo] [varchar](50) NULL,
	[telefonoExpo] [varchar](50) NULL,
	[motivoSolicitud] [varchar](3500) NULL,
	[fecha_creacion] [date] NOT NULL,
	[fecha_modificacion] [date] NOT NULL,
	[idUsuarioAutoriza] [int] NULL,
	[estado] [char](3) NOT NULL,
	[fecha_envio] [date] NULL,
	[fecha_autorizacion] [date] NULL,
 CONSTRAINT [PK_S_SolicitudVerificacion] PRIMARY KEY CLUSTERED 
(
	[idSolicitudVerificacion] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[OP_RequisitosOpinionTecnica]    Script Date: 04/03/2017 16:29:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OP_RequisitosOpinionTecnica](
	[idRequisito] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](300) NOT NULL,
	[descripcion] [varchar](500) NULL,
	[obligatorio] [bit] NOT NULL,
	[fecha_creacion] [date] NULL,
	[fecha_modificacion] [date] NULL,
	[estado] [char](2) NULL,
 CONSTRAINT [PK_OP_RequisitosOpinionTecnica] PRIMARY KEY CLUSTERED 
(
	[idRequisito] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[OP_RequisitosOpinionTecnica] ON
INSERT [dbo].[OP_RequisitosOpinionTecnica] ([idRequisito], [nombre], [descripcion], [obligatorio], [fecha_creacion], [fecha_modificacion], [estado]) VALUES (1, N'Oficio SAT', N'', 0, CAST(0x6F3C0B00 AS Date), CAST(0x933C0B00 AS Date), N'A ')
INSERT [dbo].[OP_RequisitosOpinionTecnica] ([idRequisito], [nombre], [descripcion], [obligatorio], [fecha_creacion], [fecha_modificacion], [estado]) VALUES (2, N'RTU Ratificado', N'', 1, CAST(0x6F3C0B00 AS Date), CAST(0x923C0B00 AS Date), N'B ')
INSERT [dbo].[OP_RequisitosOpinionTecnica] ([idRequisito], [nombre], [descripcion], [obligatorio], [fecha_creacion], [fecha_modificacion], [estado]) VALUES (3, N'Documento de Transporte', N'', 1, CAST(0x6F3C0B00 AS Date), CAST(0x923C0B00 AS Date), N'A ')
SET IDENTITY_INSERT [dbo].[OP_RequisitosOpinionTecnica] OFF
/****** Object:  Table [dbo].[G_Usuarios_Seguridad]    Script Date: 04/03/2017 16:29:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[G_Usuarios_Seguridad](
	[corr_usuarios_ingreso] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NOT NULL,
	[fecha_ultimo_acceso] [datetime] NOT NULL,
	[direccion_ip] [varchar](150) NOT NULL,
 CONSTRAINT [PK_g_usuarios_seguridad] PRIMARY KEY CLUSTERED 
(
	[corr_usuarios_ingreso] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[G_Usuarios_Seguridad] ON
INSERT [dbo].[G_Usuarios_Seguridad] ([corr_usuarios_ingreso], [id_usuario], [fecha_ultimo_acceso], [direccion_ip]) VALUES (1, 6, CAST(0x0000A6FF0112F85A AS DateTime), N'::1')
INSERT [dbo].[G_Usuarios_Seguridad] ([corr_usuarios_ingreso], [id_usuario], [fecha_ultimo_acceso], [direccion_ip]) VALUES (2, 6, CAST(0x0000A70100D6DFCD AS DateTime), N'::1')
INSERT [dbo].[G_Usuarios_Seguridad] ([corr_usuarios_ingreso], [id_usuario], [fecha_ultimo_acceso], [direccion_ip]) VALUES (3, 6, CAST(0x0000A70100EC49B5 AS DateTime), N'::1')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
SET IDENTITY_INSERT [dbo].[G_Usuarios_Seguridad] OFF
/****** Object:  Table [dbo].[g_usuarios]    Script Date: 04/03/2017 16:29:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[g_usuarios](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[nombres] [varchar](300) NOT NULL,
	[apellidos] [varchar](300) NOT NULL,
	[cui] [varchar](150) NULL,
	[telefono] [varchar](50) NULL,
	[idDepartamento] [int] NULL,
	[direccion] [varchar](500) NULL,
	[correo] [varchar](150) NOT NULL,
	[password] [varchar](300) NOT NULL,
	[fecha_registro] [datetime] NOT NULL,
	[estado] [nchar](1) NOT NULL,
	[id_usuarioAutoriza] [int] NULL,
 CONSTRAINT [pk_g_usuarios_id_usuario] PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [uk_g_usuarios_correo] UNIQUE NONCLUSTERED 
(
	[correo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[g_usuarios] ON
INSERT [dbo].[g_usuarios] ([id_usuario], [nombres], [apellidos], [cui], [telefono], [idDepartamento], [direccion], [correo], [password], [fecha_registro], [estado], [id_usuarioAutoriza]) VALUES (6, N'Administrador', N'SGEO', N'123', N'87654321', 2, N'3ra Avenida Ciudad', N'egonzalez@mineco.gob.gt', N'MvwyAHWyVIGdOpCDw5T7ko0h+eGTjUPkshnxzpWyRb+O078ZULB1Mw4ZkPNhF0bdKQw11703cPRk4GMXS2dOCA==', CAST(0x0000A6FA00B90AD5 AS DateTime), N'A', NULL)
INSERT [dbo].[g_usuarios] ([id_usuario], [nombres], [apellidos], [cui], [telefono], [idDepartamento], [direccion], [correo], [password], [fecha_registro], [estado], [id_usuarioAutoriza]) VALUES (7, N'Eder', N'Gonzalez', N'987', NULL, NULL, NULL, N'djgonzalezeder@gmail.com', N'/lmIL5WTcHYMdyGB1EQdsKqWM9J5E7DSgUSsZv0c0BUTnoHK350STD+W2sdNmQXkoRy5NB2Z0yYfE30woP3tpQ==', CAST(0x0000A6FA00D19CDF AS DateTime), N'A', 6)
INSERT [dbo].[g_usuarios] ([id_usuario], [nombres], [apellidos], [cui], [telefono], [idDepartamento], [direccion], [correo], [password], [fecha_registro], [estado], [id_usuarioAutoriza]) VALUES (8, N'Cuitlahuac', N'Baños', N'987', NULL, NULL, NULL, N'cbanoshdz@yahoo.es', N'S81r3OjGOvjc9XWfblfZpkpzEvyL5Vrooc1bhiY1u9Ogk2PYKsewUDi28e8l+N/Y+WRpbPQM6NhlrhI5wu96WQ==', CAST(0x0000A6FA00D2AC9A AS DateTime), N'B', 6)
SET IDENTITY_INSERT [dbo].[g_usuarios] OFF
/****** Object:  Table [dbo].[G_UsuarioPermiso]    Script Date: 04/03/2017 16:29:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[G_UsuarioPermiso](
	[corrUsuarioPermiso] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NOT NULL,
	[id_tipousuario] [int] NOT NULL,
	[fecha_creacion] [datetime] NOT NULL,
	[fecha_modificacion] [datetime] NOT NULL,
	[estado] [char](2) NOT NULL,
	[id_usuarioAutoriza] [int] NOT NULL,
 CONSTRAINT [PK_G_UsuarioPermiso] PRIMARY KEY CLUSTERED 
(
	[corrUsuarioPermiso] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [UX_G_UsuarioPermiso_id_usuario_id_tipousuario] UNIQUE NONCLUSTERED 
(
	[id_usuario] ASC,
	[id_tipousuario] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[G_UsuarioPermiso] ON
INSERT [dbo].[G_UsuarioPermiso] ([corrUsuarioPermiso], [id_usuario], [id_tipousuario], [fecha_creacion], [fecha_modificacion], [estado], [id_usuarioAutoriza]) VALUES (1, 7, 2, CAST(0x0000A70600C54968 AS DateTime), CAST(0x0000A70600C54968 AS DateTime), N'A ', 6)
INSERT [dbo].[G_UsuarioPermiso] ([corrUsuarioPermiso], [id_usuario], [id_tipousuario], [fecha_creacion], [fecha_modificacion], [estado], [id_usuarioAutoriza]) VALUES (4, 6, 1, CAST(0x0000A6EE00000000 AS DateTime), CAST(0x0000A6EE00000000 AS DateTime), N'A ', 6)
INSERT [dbo].[G_UsuarioPermiso] ([corrUsuarioPermiso], [id_usuario], [id_tipousuario], [fecha_creacion], [fecha_modificacion], [estado], [id_usuarioAutoriza]) VALUES (5, 18, 1, CAST(0x0000A72100C9DB8D AS DateTime), CAST(0x0000A72100C9DB8D AS DateTime), N'A ', 6)
SET IDENTITY_INSERT [dbo].[G_UsuarioPermiso] OFF
/****** Object:  Table [dbo].[G_TipoUsuario]    Script Date: 04/03/2017 16:29:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[G_TipoUsuario](
	[id_tipousuario] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](500) NOT NULL,
	[descripcion] [varchar](500) NULL,
	[tipo_permiso] [varchar](3) NULL,
	[fecha_creacion] [datetime] NOT NULL,
	[fecha_modificacion] [datetime] NOT NULL,
	[estado] [nchar](1) NOT NULL,
	[id_usuarioAutoriza] [int] NULL,
 CONSTRAINT [PK_G_TipoUsuario] PRIMARY KEY CLUSTERED 
(
	[id_tipousuario] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[G_TipoUsuario] ON
INSERT [dbo].[G_TipoUsuario] ([id_tipousuario], [nombre], [descripcion], [tipo_permiso], [fecha_creacion], [fecha_modificacion], [estado], [id_usuarioAutoriza]) VALUES (1, N'Administrador', N'Este usuario cuenta con todos los permisos dentro de la plataforma.', N'A', CAST(0x0000A6FD010502D0 AS DateTime), CAST(0x0000A6FD01050733 AS DateTime), N'A', NULL)
INSERT [dbo].[G_TipoUsuario] ([id_tipousuario], [nombre], [descripcion], [tipo_permiso], [fecha_creacion], [fecha_modificacion], [estado], [id_usuarioAutoriza]) VALUES (2, N'Técnico de Origen', N'Este usuario tiene permisos de aprobacion de solicitudes y emision de certificados.', N'F', CAST(0x0000A6FE00CE4E11 AS DateTime), CAST(0x0000A73600A5753B AS DateTime), N'A', 6)
INSERT [dbo].[G_TipoUsuario] ([id_tipousuario], [nombre], [descripcion], [tipo_permiso], [fecha_creacion], [fecha_modificacion], [estado], [id_usuarioAutoriza]) VALUES (3, N'Técnico SAT', N'Este es un tipo de usuario para funcionarios sat.', N'I', CAST(0x0000A6FE00D9EA18 AS DateTime), CAST(0x0000A73600A595B2 AS DateTime), N'A', 6)
SET IDENTITY_INSERT [dbo].[G_TipoUsuario] OFF
/****** Object:  Table [dbo].[G_PermisoTipoUsuario]    Script Date: 04/03/2017 16:29:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[G_PermisoTipoUsuario](
	[corrPermisoTipoUsuario] [int] IDENTITY(1,1) NOT NULL,
	[id_tipousuario] [int] NOT NULL,
	[id_opcion] [int] NOT NULL,
	[insertar] [bit] NOT NULL,
	[acceder] [bit] NOT NULL,
	[editar] [bit] NOT NULL,
	[borrar] [bit] NOT NULL,
	[aprobar] [bit] NOT NULL,
	[rechazar] [bit] NOT NULL,
	[fecha_creacion] [datetime] NOT NULL,
	[fecha_modificacion] [datetime] NOT NULL,
	[estado] [char](2) NOT NULL,
	[id_usuarioAutoriza] [int] NOT NULL,
 CONSTRAINT [PK_G_PermisoTipoUsuario] PRIMARY KEY CLUSTERED 
(
	[corrPermisoTipoUsuario] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[G_PermisoTipoUsuario] ON
INSERT [dbo].[G_PermisoTipoUsuario] ([corrPermisoTipoUsuario], [id_tipousuario], [id_opcion], [insertar], [acceder], [editar], [borrar], [aprobar], [rechazar], [fecha_creacion], [fecha_modificacion], [estado], [id_usuarioAutoriza]) VALUES (1, 1, 1, 1, 1, 0, 0, 0, 0, CAST(0x0000A70500C3A120 AS DateTime), CAST(0x0000A70500C3A120 AS DateTime), N'A ', 6)
INSERT [dbo].[G_PermisoTipoUsuario] ([corrPermisoTipoUsuario], [id_tipousuario], [id_opcion], [insertar], [acceder], [editar], [borrar], [aprobar], [rechazar], [fecha_creacion], [fecha_modificacion], [estado], [id_usuarioAutoriza]) VALUES (4, 1, 2, 1, 1, 0, 0, 0, 0, CAST(0x0000A70500C874A1 AS DateTime), CAST(0x0000A70500C874A1 AS DateTime), N'A ', 6)
INSERT [dbo].[G_PermisoTipoUsuario] ([corrPermisoTipoUsuario], [id_tipousuario], [id_opcion], [insertar], [acceder], [editar], [borrar], [aprobar], [rechazar], [fecha_creacion], [fecha_modificacion], [estado], [id_usuarioAutoriza]) VALUES (5, 1, 3, 1, 1, 0, 0, 0, 0, CAST(0x0000A70500C9480C AS DateTime), CAST(0x0000A70500C9480C AS DateTime), N'A ', 6)
SET IDENTITY_INSERT [dbo].[G_PermisoTipoUsuario] OFF
/****** Object:  Table [dbo].[G_Paises]    Script Date: 04/03/2017 16:29:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[G_Paises](
	[IdPais] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](500) NOT NULL,
	[ISO2] [nchar](2) NULL,
	[fecha_creacion] [datetime] NOT NULL,
	[fecha_modificacion] [datetime] NOT NULL,
	[estado] [char](3) NOT NULL,
 CONSTRAINT [PK_G_Paises] PRIMARY KEY CLUSTERED 
(
	[IdPais] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[G_Paises] ON
INSERT [dbo].[G_Paises] ([IdPais], [Nombre], [ISO2], [fecha_creacion], [fecha_modificacion], [estado]) VALUES (22, N'Afghanistan', N'AF', CAST(0x0000A72800000000 AS DateTime), CAST(0x0000A72800000000 AS DateTime), N'A  ')
INSERT [dbo].[G_Paises] ([IdPais], [Nombre], [ISO2], [fecha_creacion], [fecha_modificacion], [estado]) VALUES (23, N'Albania', N'AL', CAST(0x0000A72800000000 AS DateTime), CAST(0x0000A72800000000 AS DateTime), N'A  ')
INSERT [dbo].[G_Paises] ([IdPais], [Nombre], [ISO2], [fecha_creacion], [fecha_modificacion], [estado]) VALUES (24, N'Algeria', N'DZ', CAST(0x0000A72800000000 AS DateTime), CAST(0x0000A72800000000 AS DateTime), N'A  ')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
SET IDENTITY_INSERT [dbo].[G_Paises] OFF
/****** Object:  Table [dbo].[G_Menu_Opcion]    Script Date: 04/03/2017 16:29:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[G_Menu_Opcion](
	[id_opcion] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](300) NOT NULL,
	[descripcion] [varchar](500) NOT NULL,
	[url] [varchar](300) NOT NULL,
	[comando] [varchar](50) NULL,
	[id_padre] [int] NULL,
	[orden] [int] NULL,
	[visible] [bit] NULL,
	[obligatorio] [bit] NULL,
	[login] [bit] NULL,
	[id_usuarioAutoriza] [int] NULL,
	[estado] [char](2) NULL,
 CONSTRAINT [pk_g_menu_opcion_id_opcion] PRIMARY KEY CLUSTERED 
(
	[id_opcion] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[G_Menu_Opcion] ON
INSERT [dbo].[G_Menu_Opcion] ([id_opcion], [nombre], [descripcion], [url], [comando], [id_padre], [orden], [visible], [obligatorio], [login], [id_usuarioAutoriza], [estado]) VALUES (1, N'Inicio', N'Inicio', N'~/', NULL, NULL, 1, 0, 1, 0, 6, N'A ')
INSERT [dbo].[G_Menu_Opcion] ([id_opcion], [nombre], [descripcion], [url], [comando], [id_padre], [orden], [visible], [obligatorio], [login], [id_usuarioAutoriza], [estado]) VALUES (2, N'Administracion', N'Administracion', N'#', NULL, NULL, 2, 1, 0, 1, 6, N'A ')
INSERT [dbo].[G_Menu_Opcion] ([id_opcion], [nombre], [descripcion], [url], [comando], [id_padre], [orden], [visible], [obligatorio], [login], [id_usuarioAutoriza], [estado]) VALUES (3, N'Solicitudes', N'Solicitudes', N'~/', N'', NULL, 3, 1, 0, 1, 6, N'A ')
SET IDENTITY_INSERT [dbo].[G_Menu_Opcion] OFF
/****** Object:  Table [dbo].[G_Instrumentos]    Script Date: 04/03/2017 16:29:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[G_Instrumentos](
	[id_instrumento] [int] IDENTITY(1,1) NOT NULL,
	[nombre_instrumento] [varchar](300) NOT NULL,
	[sigla] [varchar](100) NOT NULL,
	[observaciones] [varchar](1000) NULL,
	[fecha_vigencia] [date] NULL,
	[fecha_creacion] [datetime] NOT NULL,
	[fecha_modificacion] [datetime] NOT NULL,
	[estado] [char](3) NOT NULL,
	[id_usuarioAutoriza] [int] NOT NULL,
 CONSTRAINT [PK_G_Instrumentos] PRIMARY KEY CLUSTERED 
(
	[id_instrumento] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[G_Instrumentos] ON
INSERT [dbo].[G_Instrumentos] ([id_instrumento], [nombre_instrumento], [sigla], [observaciones], [fecha_vigencia], [fecha_creacion], [fecha_modificacion], [estado], [id_usuarioAutoriza]) VALUES (1, N'Tratado de Libre Comercio Republica Dominicana, Centroamerica, Estados Unidos de América', N'CAFTADR', N'Tratado de Libre Comercio Republica Dominicana, Centroamerica, Estados Unidos de América', CAST(0x9D2C0B00 AS Date), CAST(0x0000A73C010ED73E AS DateTime), CAST(0x0000A73C010ED73E AS DateTime), N'A  ', 6)
INSERT [dbo].[G_Instrumentos] ([id_instrumento], [nombre_instrumento], [sigla], [observaciones], [fecha_vigencia], [fecha_creacion], [fecha_modificacion], [estado], [id_usuarioAutoriza]) VALUES (2, N'Tratado de Libre Comercio', N'TLC', N'TLC', CAST(0x4B3C0B00 AS Date), CAST(0x0000A73E00B0EA8F AS DateTime), CAST(0x0000A73E00B9FDBA AS DateTime), N'B  ', 6)
INSERT [dbo].[G_Instrumentos] ([id_instrumento], [nombre_instrumento], [sigla], [observaciones], [fecha_vigencia], [fecha_creacion], [fecha_modificacion], [estado], [id_usuarioAutoriza]) VALUES (3, N'Tratado de Libre Comercio Entre la República de Guatemala y la República de China (Taiwan)', N'TLC China (Taiwan)', N'TLC China (Taiwan)', CAST(0x4C2D0B00 AS Date), CAST(0x0000A74A00D314B9 AS DateTime), CAST(0x0000A74A00D314B9 AS DateTime), N'A  ', 6)
SET IDENTITY_INSERT [dbo].[G_Instrumentos] OFF
/****** Object:  Table [dbo].[G_Departamento]    Script Date: 04/03/2017 16:29:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[G_Departamento](
	[idDepartamento] [int] IDENTITY(1,1) NOT NULL,
	[codigoDepto] [varchar](150) NULL,
	[nombre] [varchar](300) NOT NULL,
	[descripcion] [varchar](1000) NULL,
	[estado] [char](2) NOT NULL,
	[fecha_creacion] [date] NOT NULL,
	[fecha_modificacion] [date] NOT NULL,
 CONSTRAINT [PK_G_Departamento] PRIMARY KEY CLUSTERED 
(
	[idDepartamento] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [UK_G_Departamento_codigoDepto] UNIQUE NONCLUSTERED 
(
	[codigoDepto] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[G_Departamento] ON
INSERT [dbo].[G_Departamento] ([idDepartamento], [codigoDepto], [nombre], [descripcion], [estado], [fecha_creacion], [fecha_modificacion]) VALUES (1, N'1', N'No Aplica', N'No Aplica', N'A ', CAST(0x6D3C0B00 AS Date), CAST(0x923C0B00 AS Date))
INSERT [dbo].[G_Departamento] ([idDepartamento], [codigoDepto], [nombre], [descripcion], [estado], [fecha_creacion], [fecha_modificacion]) VALUES (2, N'2', N'Unidad de Tratados y Acuerdos Comerciales', N'Unidad de Tratados y Acuerdos Comerciales', N'A ', CAST(0x6D3C0B00 AS Date), CAST(0x923C0B00 AS Date))
INSERT [dbo].[G_Departamento] ([idDepartamento], [codigoDepto], [nombre], [descripcion], [estado], [fecha_creacion], [fecha_modificacion]) VALUES (3, N'3', N'Normativo', N'Departamento Normativo', N'A ', CAST(0x6D3C0B00 AS Date), CAST(0x923C0B00 AS Date))
SET IDENTITY_INSERT [dbo].[G_Departamento] OFF
/****** Object:  Table [dbo].[G_Aduanas]    Script Date: 04/03/2017 16:29:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[G_Aduanas](
	[IdAduana] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](500) NOT NULL,
	[Codigo] [varchar](15) NULL,
	[fecha_creacion] [datetime] NOT NULL,
	[fecha_modificacion] [datetime] NOT NULL,
	[estado] [char](3) NOT NULL,
 CONSTRAINT [PK_G_Aduanas] PRIMARY KEY CLUSTERED 
(
	[IdAduana] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[G_Aduanas] ON
INSERT [dbo].[G_Aduanas] ([IdAduana], [Nombre], [Codigo], [fecha_creacion], [fecha_modificacion], [estado]) VALUES (1, N'ADUANA SANTO TOMAS DE CASTILLA', N'ST', CAST(0x0000A74A0107E24D AS DateTime), CAST(0x0000A74A0107E24D AS DateTime), N'A  ')
INSERT [dbo].[G_Aduanas] ([IdAduana], [Nombre], [Codigo], [fecha_creacion], [fecha_modificacion], [estado]) VALUES (2, N'ADUANA PUERTO QUETZAL', N'PQ', CAST(0x0000A74A01087339 AS DateTime), CAST(0x0000A74A01087339 AS DateTime), N'A  ')
INSERT [dbo].[G_Aduanas] ([IdAduana], [Nombre], [Codigo], [fecha_creacion], [fecha_modificacion], [estado]) VALUES (3, N'ADUANA PUERTO BARRIOS', N'B', CAST(0x0000A74A01087DEB AS DateTime), CAST(0x0000A74A01087DEB AS DateTime), N'A  ')
SET IDENTITY_INSERT [dbo].[G_Aduanas] OFF
/****** Object:  Table [dbo].[ExpedienteSolicitud_Enc]    Script Date: 04/03/2017 16:29:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ExpedienteSolicitud_Enc](
	[id_expediente] [int] IDENTITY(1,1) NOT NULL,
	[id_Solicitud] [int] NOT NULL,
	[id_usuarioSolicita] [int] NOT NULL,
	[tipoSolicitud] [varchar](300) NOT NULL,
	[nombres] [varchar](300) NOT NULL,
	[apellidos] [varchar](300) NOT NULL,
	[direccion] [varchar](500) NOT NULL,
	[idDepartamentoSolicita] [int] NOT NULL,
	[correo] [varchar](150) NOT NULL,
	[telefono] [varchar](50) NOT NULL,
	[razonSocialImportador] [varchar](500) NOT NULL,
	[direccionImportador] [varchar](500) NOT NULL,
	[correoImportador] [varchar](150) NOT NULL,
	[idDepartamentoImportador] [int] NOT NULL,
	[nitImportador] [varchar](50) NOT NULL,
	[telefonoImportador] [varchar](50) NOT NULL,
	[razonSocialExportador] [varchar](500) NOT NULL,
	[direccionExportador] [varchar](500) NOT NULL,
	[correoExportador] [varchar](150) NOT NULL,
	[idPaisExportador] [int] NOT NULL,
	[nitExportador] [varchar](50) NULL,
	[telefonoExportador] [varchar](50) NULL,
	[fecha_creacion] [datetime] NOT NULL,
	[fecha_modificacion] [datetime] NULL,
	[estado] [nchar](3) NULL,
 CONSTRAINT [PK_ExpedienteSolicitud_Enc] PRIMARY KEY CLUSTERED 
(
	[id_expediente] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[ExpedienteSolicitud_Enc] ON
SET IDENTITY_INSERT [dbo].[ExpedienteSolicitud_Enc] OFF
/****** Object:  Table [dbo].[ExpedienteMotivos]    Script Date: 04/03/2017 16:29:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[ExpedienteMotivos](
	[id_expediente] [int] NOT NULL,
	[id_Solicitud] [int] NOT NULL,
	[motivo_1] [bit] NOT NULL,
	[motivo_2] [bit] NOT NULL,
	[motivo_3] [bit] NOT NULL,
	[motivo_4] [bit] NOT NULL,
	[motivo_5] [bit] NOT NULL,
	[motivo_6] [bit] NOT NULL,
	[motivo_7] [bit] NOT NULL,
	[motivo_8] [bit] NOT NULL,
	[observacion_si_no] [bit] NOT NULL,
	[observaciones] [varchar](1500) NULL,
	[otros_motivos] [varchar](1500) NULL,
	[fecha_creacion] [datetime] NOT NULL,
	[estado] [nchar](3) NOT NULL,
	[fecha_modificacion] [datetime] NOT NULL,
 CONSTRAINT [PK_ExpedienteMotivos] PRIMARY KEY CLUSTERED 
(
	[id_expediente] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[ExpedienteMotivos] ([id_expediente], [id_Solicitud], [motivo_1], [motivo_2], [motivo_3], [motivo_4], [motivo_5], [motivo_6], [motivo_7], [motivo_8], [observacion_si_no], [observaciones], [otros_motivos], [fecha_creacion], [estado], [fecha_modificacion]) VALUES (16, 32, 1, 0, 0, 0, 0, 0, 0, 0, 0, N'', N'', CAST(0x0000A73800F3C402 AS DateTime), N'E  ', CAST(0x0000A73800F3C402 AS DateTime))
INSERT [dbo].[ExpedienteMotivos] ([id_expediente], [id_Solicitud], [motivo_1], [motivo_2], [motivo_3], [motivo_4], [motivo_5], [motivo_6], [motivo_7], [motivo_8], [observacion_si_no], [observaciones], [otros_motivos], [fecha_creacion], [estado], [fecha_modificacion]) VALUES (17, 34, 1, 0, 0, 0, 0, 0, 0, 0, 0, N'', N'', CAST(0x0000A738011C08CE AS DateTime), N'E  ', CAST(0x0000A738011C08CE AS DateTime))
/****** Object:  Table [dbo].[ExpedienteAdjunto]    Script Date: 04/03/2017 16:29:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ExpedienteAdjunto](
	[corr_ExpedienteAnexo] [int] IDENTITY(1,1) NOT NULL,
	[corr_BorradorAnexo] [int] NOT NULL,
	[id_expediente] [int] NOT NULL,
	[id_Solicitud] [int] NOT NULL,
	[tipoSolicitud] [varchar](300) NOT NULL,
	[oficioSAT] [bit] NULL,
	[idPrefijoSAT] [int] NULL,
	[PrefijoSAT] [varchar](150) NULL,
	[numeroOficioSAT] [int] NULL,
	[anioOficioSAT] [int] NULL,
	[numeroReferencia] [int] NULL,
	[idRequisito] [int] NOT NULL,
	[nombreDocumentoOriginal] [varchar](300) NOT NULL,
	[nombreDocumentoSistema] [varchar](300) NOT NULL,
	[path] [varchar](500) NOT NULL,
	[observaciones] [varchar](1500) NULL,
	[fecha_creacion] [datetime] NOT NULL,
	[estado] [nchar](3) NOT NULL,
	[fecha_modificacion] [datetime] NOT NULL,
 CONSTRAINT [PK_ExpedienteAdjunto] PRIMARY KEY CLUSTERED 
(
	[corr_ExpedienteAnexo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[ExpedienteAdjunto] ON
SET IDENTITY_INSERT [dbo].[ExpedienteAdjunto] OFF
/****** Object:  Table [dbo].[BorradorSolicitud_Enc]    Script Date: 04/03/2017 16:29:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BorradorSolicitud_Enc](
	[id_Solicitud] [int] IDENTITY(1,1) NOT NULL,
	[id_usuarioSolicita] [int] NOT NULL,
	[tipoSolicitud] [varchar](300) NOT NULL,
	[id_instrumento] [int] NOT NULL,
	[fecha_inicio_periodo] [date] NOT NULL,
	[fecha_fin_periodo] [date] NOT NULL,
	[nombres] [varchar](300) NOT NULL,
	[apellidos] [varchar](300) NOT NULL,
	[direccion] [varchar](300) NOT NULL,
	[idDepartamentoSolicita] [int] NOT NULL,
	[correo] [varchar](300) NOT NULL,
	[telefono] [varchar](50) NOT NULL,
	[razonSocialImportador] [varchar](500) NOT NULL,
	[direccionImportador] [varchar](500) NOT NULL,
	[correoImportador] [varchar](50) NOT NULL,
	[idDepartamentoImportador] [int] NOT NULL,
	[nitImportador] [varchar](50) NOT NULL,
	[telefonoImportador] [varchar](50) NOT NULL,
	[razonSocialExportador] [varchar](300) NOT NULL,
	[direccionExportador] [varchar](500) NOT NULL,
	[correoExportador] [varchar](50) NOT NULL,
	[idPaisExportador] [int] NOT NULL,
	[nitExportador] [varchar](50) NULL,
	[telefonoExportador] [varchar](50) NULL,
	[fecha_creacion] [datetime] NOT NULL,
	[fecha_modificacion] [datetime] NULL,
	[estado] [nchar](3) NULL,
 CONSTRAINT [PK_BorradorSolicitud_Enc] PRIMARY KEY CLUSTERED 
(
	[id_Solicitud] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[BorradorSolicitud_Enc] ON
SET IDENTITY_INSERT [dbo].[BorradorSolicitud_Enc] OFF
/****** Object:  Table [dbo].[BorradorMotivos]    Script Date: 04/03/2017 16:29:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BorradorMotivos](
	[id_Solicitud] [int] NOT NULL,
	[motivo_1] [bit] NOT NULL,
	[motivo_2] [bit] NOT NULL,
	[motivo_3] [bit] NOT NULL,
	[motivo_4] [bit] NOT NULL,
	[motivo_5] [bit] NOT NULL,
	[motivo_6] [bit] NOT NULL,
	[motivo_7] [bit] NOT NULL,
	[motivo_8] [bit] NOT NULL,
	[observacion_si_no] [bit] NOT NULL,
	[observaciones] [varchar](1500) NULL,
	[otros_motivos] [varchar](1500) NULL,
	[fecha_creacion] [datetime] NOT NULL,
	[estado] [nchar](3) NOT NULL,
	[fecha_modificacion] [datetime] NOT NULL,
 CONSTRAINT [PK_BorradorMotivos_1] PRIMARY KEY CLUSTERED 
(
	[id_Solicitud] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[BorradorMotivos] ([id_Solicitud], [motivo_1], [motivo_2], [motivo_3], [motivo_4], [motivo_5], [motivo_6], [motivo_7], [motivo_8], [observacion_si_no], [observaciones], [otros_motivos], [fecha_creacion], [estado], [fecha_modificacion]) VALUES (1, 1, 0, 0, 0, 0, 0, 0, 0, 0, N'', N'', CAST(0x0000A74A00D24070 AS DateTime), N'T  ', CAST(0x0000A74A00D24070 AS DateTime))
/****** Object:  Table [dbo].[BorradorAdjunto]    Script Date: 04/03/2017 16:29:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BorradorAdjunto](
	[corr_BorradorAnexo] [int] IDENTITY(1,1) NOT NULL,
	[id_Solicitud] [int] NOT NULL,
	[tipoSolicitud] [varchar](50) NOT NULL,
	[oficioSAT] [bit] NULL,
	[idPrefijoSAT] [int] NULL,
	[PrefijoSAT] [varchar](50) NULL,
	[numeroOficioSAT] [int] NULL,
	[anioOficioSAT] [int] NULL,
	[numeroReferencia] [int] NULL,
	[idRequisito] [int] NOT NULL,
	[nombreDocumentoOriginal] [varchar](300) NOT NULL,
	[nombreDocumentoSistema] [varchar](300) NOT NULL,
	[path] [varchar](500) NOT NULL,
	[observaciones] [varchar](1500) NULL,
	[fecha_creacion] [datetime] NOT NULL,
	[estado] [nchar](3) NOT NULL,
	[fecha_modificacion] [datetime] NOT NULL,
 CONSTRAINT [PK_BorradorAdjunto] PRIMARY KEY CLUSTERED 
(
	[corr_BorradorAnexo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[BorradorAdjunto] ON
SET IDENTITY_INSERT [dbo].[BorradorAdjunto] OFF
